.guarantees {
  padding: 10px 0;
  @include media(min, lg) {
    padding: 20px 0;
  }
  // .guarantees__wrapper
  &__wrapper {
    @include flex($flex-direction: column);
  }
  // .guarantees__title
  &__title {
    margin-bottom: 10px;
  }
  // .guarantees__list
  &__list {
    background-color: #f0f1f2;
    display: grid;
    grid-template-columns: 1fr;
    @include media(min, sm) {
      grid-template-columns: repeat(2, 1fr);
    }
    @include media(min, lg) {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  // .guarantees__item
  &__item {
    padding: 20px 20px 10px;
    @include flex($flex-direction: column);
    gap: 16px;
    background-color: #fff;
    border: 1px solid #f0f1f2;
    @include media(min, lg) {
      padding: 50px 35px 0;
      gap: 20px;
    }
    &:nth-child(3) {
      gap: 18px;
      padding-top: 12px;
      @include media(min, lg) {
        padding-top: 50px;
      }
    }
    &:nth-child(4) {
      gap: unset;
      padding-top: 12px;
      padding-bottom: 26px;
      @include media(min, lg) {
        padding-top: 32px;
      }
      .guarantees__img {
        margin-bottom: 12px;
        @include media(min, lg) {
          margin-bottom: 20px;
        }
      }
      .guarantees__text {
        margin-bottom: 10px;
      }
    }
    &:nth-child(5) {
      gap: 10px;
      padding-bottom: 24px;
      @include media(min, lg) {
        padding-top: 34px;
        gap: unset;
      }
      .guarantees__img {
        @include media(min, lg) {
          margin-bottom: 20px;
        }
      }
      .guarantees__text {
        @include media(min, lg) {
          margin-bottom: 10px;
        }
      }
    }
    &:last-child {
      gap: 10px;
      @include media(min, lg) {
        padding-top: 32px;
      }
      .guarantees__img {
        @include media(min, lg) {
          margin-bottom: 12px;
        }
      }
    }
  }
  // .guarantees__img
  &__img {
    @include wh(48px);
    @include media(min, lg) {
      @include wh(64px);
    }
  }
  // .guarantees__text
  &__text {
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.3px;
    @include media(min, lg) {
      font-size: 24px;
      line-height: 32px;
      max-width: 300px;
    }
  }
  // .guarantees__span
  &__span {
    color: $primaryColor;
    font-family: ProximaNova;
  }
  // .guarantees__text-small
  &__text-small {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;

    color: #536479;
  }
}
